<div class="body containerButtons">
    <div class="row clearfix ">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <a href="termoIsolamento.html">
                <div class="info-box bg-indigo hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="content">
                        <h4>TERMO PARA<br>ISOLAMENTO</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>