{% load static %}

<!DOCTYPE html>
<html>

 {% comment %} {% include './head.html' %} {% endcomment %}
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Forms - São Rafael/RN</title>
    <!-- Favicon-->
    <!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->
    <!--===============================================================================================-->
    <!-- <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"> -->
    <!--===============================================================================================-->
    <link rel="stylesheet" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="{% static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="{% static 'plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet' %}">
    <!-- Waves Effect Css -->
    <link href="{% static 'plugins/node-waves/waves.css' %}" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="{% static 'plugins/animate-css/animate.css' %}" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="{% static 'css/themes/all-themes.css' %}" rel="stylesheet" />
</head>

<body class="theme-blue">
    
    {% include '../page_loader.html' %}

    <div class="overlay"></div>

    {% include '../top_bar.html' %}

    <section class="content">
		
	    {% include './breadcrumb.html' %}

        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12">
                    <div class="card">
                        <div class="body">

                            <!-- FORM -->
                            
                            {% include './form.html' %}

                            <!-- END FORM -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        {% include '../footer.html' %}
    </section>
    
    <!-- #Modal -->
    {% include '../modal_info_sistema.html' %}
    <!-- FIM DO MODAL -->

    {% comment %} {% include './scripts.html' %} {% endcomment %}
    <!-- Jquery Core Js -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap Core Js -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>
<!-- Slimscroll Plugin Js -->
<script src="{% static 'plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<!-- Waves Effect Plugin Js -->
<script src="{% static 'plugins/node-waves/waves.js' %}"></script>
<!--  -->
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/admin.js' %}"></script>
<script src="{% static 'js/demo.js' %}"></script>
<script src="{% static 'js/myScripts.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'js/main.js' %}"></script>
    
</body>
</html>
