{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Forms - São Rafael/RN</title>
    <!-- Favicon-->
    <!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->
    <!--===============================================================================================-->
    <!-- <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"> -->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Google Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/roboto.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/MaterialIcons.css' %}">
    <!-- Bootstrap Core Css --> 
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap-select/css/bootstrap-select.css' %}"/>
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'plugins/jquery-spinner/css/bootstrap-spinner.css' %}"/> {% endcomment %}
    
    <!-- Waves Effect Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/node-waves/waves.css' %}"/>
    <!-- Animation Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/animate-css/animate.css' %}"/>
    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/themes/all-themes.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}"/>
</head>
