{% load static %}

<!-- Jquery Core Js -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/jquery/jquery.mask.min.js' %}"></script>

<!-- Bootstrap Core Js -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'plugins/bootstrap-select/js/bootstrap-select.js' %}"></script>
<!-- Slimscroll Plugin Js -->
<script src="{% static 'plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<script src="{% static 'plugins/jquery-spinner/js/jquery.spinner.js' %}"></script>
<!-- Waves Effect Plugin Js -->
<script src="{% static 'plugins/node-waves/waves.js' %}"></script>
<!--  -->
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/admin.js' %}"></script>
<script src="{% static 'js/demo.js' %}"></script>
<script src="{% static 'js/myScripts.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/advanced-form-elements.js' %}"></script>

<script src="{% static 'plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>