/*-------*/
@charset "utf-8";
.bodyImpressao {
	background-color: #ffffff;
	font-family: Garamond;
	color: #000000;
	margin: 0;
	padding: 0;
}
.cabecalho-titulo {
	text-align: center;
	line-height: 1;
}

.cabecalho-titulo .p1{
	font-size: 12px;
}
.cabecalho-titulo .p2{
	font-size: 14px;
  	font-weight: bold;
}
.cabecalho-titulo .p3{
	font-size: 12px;
}
.cabecalho-endereco {
	text-align: center;
	font-size: 10px;
	font-weight: normal;
}
hr {
	margin-left: 20px;
	margin-right: 20px;
}
.conteudoImprimir {
	margin-left: 20px;
	margin-right: 20px;
	text-align: justify;
	font-size: 11pt;
	line-height: 1.7;
}
.listaOrientacoes {
	line-height: normal;
}

/**/
table#tableResidente {
	border-collapse: collapse;
	width: 100%;
}
.tdResidente {
  	border: 1px solid #dddddd;
  	text-align: left;
  	padding: 5px;
	margin: 5px;
}
.td1 {
	text-align: center;
	font-weight: bold;
	width: 5%;
}
table#tableResidente > tr:nth-child(even) {
	background-color: #dddddd;
}
