

<div class="table-responsive" style="min-height: 400px;">
    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
        {% if pacientes|length == 0 %}
        <br>
        <a href="../RegistrarTermo" style="float: right;">
            <button type="button" class="btn bg-indigo waves-effect linkTextBold">
                <i class="material-icons">add</i>
                <span>NOVO REGISTRO</span>
            </button> 
        </a>
        <br><br><br><br><br>
        <h2 style="color: red; text-align: center;">NÃO HÁ REGISTROS!</h2><br>
        {% else %}
        <a href="../RegistrarTermo" style="float: right;">
            <button type="button" class="btn bg-indigo waves-effect linkTextBold">
                <i class="material-icons">add</i>
                <span>NOVO REGISTRO</span>
            </button> 
        </a>
        <h4 style="text-align: center;" class="col-blue">
            <i class="material-icons">info</i>
            <span>Clique no título da coluna para ordenar</span>
        </h4>
        
        <h4 style="margin-bottom: -5px; color: #444444;">Exportar Registros</h4>
        <thead>
            <tr>
                <th>NOME DO PACIENTE</th>
                <th>CNS / CPF</th>
                <th>DT. NASCIM.</th>
                <th>1º SINTOMAS</th>
                <th>TELEFONE</th>
                <th>BOTÕES</th>
            </tr>
        </thead>
        {% comment %} 
        <tfoot>
            <tr>
                <th>NOME DO PACIENTE</th>
                <th>CNS / CPF</th>
                <th>DT. NASCIM.</th>
                <th>1º SINTOMAS</th>
                <th>TELEFONE</th>
                <th>BOTÕES</th>
            </tr>
        </tfoot>
        {% endcomment %}
        <tbody>
            {% for paciente in pacientes %}
            <tr>
                <td>
                    <strong>{{ paciente.nome_paciente }}</strong>
                </td>
                <td> 
                    {% if  paciente.semCPF == False %} 
                        {{paciente.cpf}} 
                    {% else %} 
                        {{paciente.cns}} 
                    {% endif %}
                </td>
                <td>{{ paciente.dt_nascimento|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ paciente.dt_1_sintomas|date:"SHORT_DATE_FORMAT" }}</td>
                <td>({{ paciente.telefone }}</td>
                <td>
                    <div class="btn-group-vertical m-r-20" role="group" aria-label="Vertical button group">
                        <div class="btn-group" role="group">
                            <button id="btnGroupVerticalDrop1" type="button" class="btn bg-indigo waves-effect dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                OPERAÇÕES <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
                                <li>
                                    <a class="col-blue waves-effect" href="{% url 'VerInformacoes' paciente.id %}">
                                        <i class="material-icons">info</i> INFORMAÇÕES
                                    </a>
                                </li>
                                <li>
                                    <a class="col-indigo waves-effect" href="{% url 'AtualizarTermo' paciente.id %}">
                                        <i class="material-icons">mode_edit</i> EDITAR
                                    </a>
                                </li>
                                <li>
                                    <a class="col-black waves-effect" onClick="#">
                                        <i class="material-icons">print</i> IMPRIMIR
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a class="col-red waves-effect" onClick="ConfirmarDelete({{ paciente.id }})">
                                        <i class="material-icons">delete_forever</i> DELETAR
                                    </a>
                                </li>
                            </ul>
                        </div>                        
                    </div>
                </td>
            </tr>
            {% endfor %}
            <br>
        </tbody>
        {% endif %}
    </table>
</div>