<a href="{% url 'ListarTermos' %}" target="_self">
    <button class="btn btn-sm waves-effect bg-white col-indigo">
        <i class="material-icons">arrow_back</i>
        <span>VOLTAR</span>
    </button>
</a>
<a href="#" target="_self">
    <button class="btn btn-sm waves-effect bg-blue-grey col-white">
        <i class="material-icons">print</i>
        <span>IMPRIMIR</span>
    </button>
</a>
<a href="{% url 'AtualizarTermo' paciente.id %}" target="_self">
    <button class="btn btn-sm waves-effect bg-cyan col-white">
        <i class="material-icons">mode_edit</i>
        <span>EDITAR</span>
    </button>
</a>
<a onClick="ConfirmarDelete({{ paciente.id }})">
    <button class="btn btn-sm waves-effect bg-red col-white">
        <i class="material-icons">delete_forever</i>
        <span>DELETAR</span>
    </button>
</a>
<hr/>

<div class="body">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 com-xs-12">
            <div class="col-md-4">
                <strong class="col-indigo">NOME DO PACIENTE:</strong>
                <h5>{{ paciente.nome_paciente}}</h5>
            </div>
            <div class="col-md-2">
                <strong class="col-indigo">CPF:</strong>
                {% if paciente.cpf == None %}
                <h5 class="col-red">
                    <em>Não Informado</em>
                </h5>
                {% else %}
                <h5>{{ paciente.cpf }}</h5>
                {% endif %}
            </div>
            <div class="col-md-3">
                <strong class="col-indigo">CNS:</strong>
                {% if paciente.cns == None %}
                <h5 class="col-red">
                    <em>Não Informado</em>
                </h5>
                {% else %}
                <h5>{{ paciente.cns }}</h5>
                {% endif %}
            </div>
            <div class="col-md-3">
                <strong class="col-indigo">DATA DE NASCIMENTO:</strong>
                <h5>{{ paciente.dt_nascimento}}</h5>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 com-xs-12">
            <div class="col-md-4">
                <strong class="col-indigo">PROFISSIONAL INFORMANTE:</strong>
                <h5>{{ paciente.profis_informante}}</h5>
            </div>
            <div class="col-md-2">
                <strong class="col-indigo">1º SINTOMAS: </strong>
                <h5>{{ paciente.dt_1_sintomas}}</h5>
            </div>
            <div class="col-md-3">
                <strong class="col-indigo">INÍCIO DO ISOLAMENTO:</strong>
                <h5>{{ paciente.dt_ini_isolamento}}</h5>
            </div>
            <div class="col-md-3">
                <strong class="col-indigo">TÉRMINO DO ISOLAMENTO:</strong>
                <h5>{{ paciente.dt_fim_isolamento}}</h5>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 com-xs-12">
            <div class="col-md-4">
                <strong class="col-indigo">ENDEREÇO:</strong>
                <h5>{{ paciente.endereco}}</h5>
            </div>
            <div class="col-md-2">
                <strong class="col-indigo">NÚMERO:</strong>
                <h5>{{ paciente.num_endereco}}</h5>
            </div>
            <div class="col-md-3">
                <strong class="col-indigo">COMPLEMENTO:</strong>
                {% if paciente.complemento == None %}
                <h5 class="col-red">
                    <em>Não Informado</em>
                </h5>
                {% else %}
                <h5>{{ paciente.complemento }}</h5>
                {% endif %}
            </div>
            <div class="col-md-3">
                <strong class="col-indigo">BAIRRO:</strong>
                <h5>{{ paciente.bairro}}</h5>
            </div>
            <div class="col-md-6">
                <strong class="col-indigo">PONTO DE REFERÊNCIA:</strong>
                {% if paciente.ponto_referencia == None %}
                <h5 class="col-red">
                    <em>Não Informado</em>
                </h5>
                {% else %}
                <h5>{{ paciente.ponto_referencia }}</h5>
                {% endif %}
            </div>
            <div class="col-md-3">
                <strong class="col-indigo">CONTATO:</strong>
                <h5>({{ paciente.telefone}}</h5>
            </div>
            <div class="col-md-3">
                <strong class="col-indigo">CONTATO 2:</strong>
                {% if paciente.telefone2 == None %}
                <h5 class="col-red">
                    <em>Não Informado</em>
                </h5>
                {% else %}
                <h5>{{ paciente.telefone2 }}</h5>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 com-xs-12">
            <div class="col-md-6">
                <strong class="col-indigo">NOME DO ACS:</strong>
                {% if paciente.nome_acs == None %}
                <h5 class="col-red">
                    <em>Não Informado</em>
                </h5>
                {% else %}
                <h5>{{ paciente.nome_acs }}</h5>
                {% endif %}
            </div>
            <div class="col-md-3">
                <strong class="col-indigo">RESPONSÁVEL:</strong>
                {% if paciente.responsavel_pct == "Paciente" %}
                <h5>O Próprio Paciente</h5>
                {% else %}
                <h5>Responsável</h5>
                {% endif %}
            </div>
            <div class="col-md-3">
                {% if paciente.grau_parentesco != None %}
                <strong class="col-indigo">GRAU DE PARENTESCO:</strong>
                <h5>{{ paciente.grau_parentesco }}</h5>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 com-xs-12">
            <div class="col-md-6">
                <strong class="col-indigo">SINTOMAS:</strong>
                <h5>
                    {{paciente.sintomas}}
                    {% if paciente.outros_sintomas != None %}
                    &rarr; {{ paciente.outros_sintomas }}
                    {% endif %}
                </h5>
            </div>
            <div class="col-md-6">
                <strong class="col-indigo">CONDIÇÕES:</strong>
                <h5>{{ paciente.condicoes}}</h5>
            </div>
        </div>
    
        <div class="col-lg-12 col-md-12 col-sm-12 com-xs-12">
            <div class="col-md-12">
                <strong class="col-indigo">RESIDENTES NO MESMO ENDEREÇO:</strong>
            </div>
            {% for residente in residentes %}
            <div class="col-md-12" style="margin-bottom: 0px;">
                <h5><span class="col-indigo">{{ forloop.counter }} &rarr;</span> {{ residente.nome_residente }}</h5>
            </div>    
            {% endfor %}
        </div>
    </div>
</div>