<a href="{% url 'ListarTermos' %}" target="_self">
    <button class="btn btn-sm waves-effect bg-white col-indigo">
        <i class="material-icons">arrow_back</i>
        <span>VOLTAR</span>
    </button>
</a>
<a href="#" target="_self">
    <button class="btn btn-sm waves-effect bg-blue-grey col-white">
        <i class="material-icons">print</i>
        <span>IMPRIMIR</span>
    </button>
</a>
<a href="{% url 'AtualizarTermo' paciente.id %}" target="_self">
    <button class="btn btn-sm waves-effect bg-cyan col-white">
        <i class="material-icons">mode_edit</i>
        <span>EDITAR</span>
    </button>
</a>
<a onClick="ConfirmarDelete({{ paciente.id }})">
    <button class="btn btn-sm waves-effect bg-red col-white">
        <i class="material-icons">delete_forever</i>
        <span>DELETAR</span>
    </button>
</a>
<hr/>    

<div class="body">
    <div class="row clearfix demo-icon-container">
        <div class="col-md-5">
            <div class="demo-google-material-icon">
                <i class="material-icons col-indigo">person</i>
                <strong class="col-indigo icon-name">NOME: </strong>
                <span class="icon-name">{{ paciente.nome_paciente}}</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="demo-google-material-icon">
                <i class="material-icons col-indigo">person</i>
                <strong class="col-indigo icon-name">CPF: </strong>
                <span class="icon-name">{{ paciente.cpf}}</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="demo-google-material-icon">
                <i class="material-icons col-indigo">person</i>
                <span class="icon-name">{{ paciente.cpf}}</span>
            </div>
        </div>
        
    <!-- ---------------------- -->
    {% for residente in residentes %}
        <div class="col-md-12">
            <div class="demo-google-material-icon">
                <i class="material-icons col-indigo">person</i>
                <strong class="icon-name">{{ residente.nome_residente}}</strong>
            </div>
        </div>    
    {% endfor %}
    </div>
</div>