{% load static %}

{% load split %}
{% load soma1 %}
<!DOCTYPE html>
<html>

{% include './headVerInfo.html' %}

<body class="theme-blue">
    
    {% include '../page_loader.html' %}

    <div class="overlay"></div>

    {% include '../top_bar.html' %}

    <section class="content">
		{% include './breadcrumb.html' %}
	    
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12">
                    <div class="card">
                        <div class="header bg-indigo" align="center">
                            <h2>INFORMAÇÕES DO PACIENTE</h2>
                        </div>
                        <div class="body">
                            
                            <!-- INFORMAÕES -->
                            
                            {% include './content.html' %}
                            
                            <!-- FIM INFORMAÇÕES -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        {% include '../footer.html' %}
    </section>
    
    <!-- #Modal -->
    {% include '../modal_info_sistema.html' %}
    <!-- FIM DO MODAL -->

    {% include './scriptsVerInfo.html' %}

</body>
</html>