<div class="modal fade" id="modalSystemInfo" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-col-blue-grey">
            <div class="modal-header">
                <button type="button" class="close col-white" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    <span>Informações do Sistema</span>
                </h4>
            </div>
            <div class="modal-body">
                <h5>
                    Copyright &copy; 2020
                </h5><br>
                <b>Desenvolvido por: </b><a href="mailto:willamy.wlp@gmail.com" target="_blank" class="linkModal">Willamy Domingos</a><br>
                <b>Template Base: </b>
                <span>
                    <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/" target="_blank" class="linkModal">AdminBSB - Material Design</a>
                </span><br><br>
                <b>Versão: </b> 1.0.5
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">X Fechar</button> -->
                    <button type="button" class="btn btn-default waves-effect m-r-20" data-dismiss="modal">
                    <strong>X FECHAR</strong>
                    </button>
            </div>
        </div>
    </div>
</div>