{% load static %}

<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header header1">
            <a href="index.html" target="_self">
                <img src="{% static 'images/brasao_sao_rafael.png' %}">
            </a>
        </div>
        <div class="navbar-header header2" align="center">
            <strong style="font-size: 20pt;">Prefeitura Municipal de São Rafael/RN</strong><br>
            <span>
                <em style="text-align: center;">Secretaria Municipal de Saúde - SMS</em> &nbsp; | &nbsp;
                <em>Vigilância Epidemiológica - VE</em>
            </span>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'home' %}" data-toggle="tooltip" data-placement="bottom" title="IR PARA O INÍCIO">
                        <button type="button" class="btn btn-default waves-effect waves-blue">
                            <i class="material-icons col-blue">home</i>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="{% url 'logoutApp' %}" data-toggle="tooltip" data-placement="bottom" title="SAIR DO SISTEMA">
                        <button type="button" class="btn btn-default waves-effect waves-red">
                            <i class="material-icons col-red">exit_to_app</i>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>